.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: white;
  padding: 20px 30px;
  width: 250px;
  height: 150px;
  border-radius: 6px;
  flex-shrink: 0;
}

.scoreIcon {
  vertical-align: middle;
}

.scoreCardWrapper {
  margin: 10px 0px 0px 0px;
}

.keywordItem {
  position: relative;
  max-width: 200px;
  flex-shrink: 0;
  background: #e6e6e6;
  color: #2e2e2e;
  border-radius: 999px;
  padding: 6px 10px;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scoreAverageText {
  margin: 0px 10px;
}

.keywordContainer {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: 120px;
  width: 250px;
  gap: 10px;
  overflow: auto;
  overflow-x: hidden;
}

.cardContent {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0px 0px 20px 0px;
}

.successBodyText {
  color: #278536;
  line-height: 0;
}

.bodyText {
  line-height: 0;
}

.cardCollection {
  padding: 20px;
}
